# Amnesia game resource symlinks
billboards
commentary
config
core
custom_stories
entities
flashbacks
fonts
graphics
gui
lang
launcher
lights
main_menu
maps
materials.cfg
misc
models
music
particles
ptest_materials.cfg
resources.cfg
shaders
sounds
static_objects
super_secret.rar
textures
